<section class="hero container">
  <h1 class="hero__list">A party without cocktails is not like a party</h1>
  <picture>
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand320_1x.png,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand320_2x.png
      "
      media="(min-width: 320px)"
    />
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand768_1x.png,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand768_2x.png
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand1280_1x.png,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand1280_2x.png
      "
      media="(min-width:1280px)"
    />
    <img
      class="img__cocktail"
      src="/src/images/hero/delicious-sangria-cocktail-held-in-hand320_1x.png"
      alt="cocktail"
    />
  </picture>
  <h2 class="hero__search">Search your favorite cocktail by ABC</h2>
</section>
