.catalogue__title {
    @include fonts($ff: Poppins,
        $ffs: normal,
        $fw: 600,
        $fs: 22px,
        $lh: 42px);
    text-align: center;
    margin-bottom: 60px;
    }

.catalogue__card {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FD5103;
}

.catalogue__description {
padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
}

.catalogue__text {
    @include fonts($ff: 'Roboto',
            $fw: 900,
            $fs: 26px);
}

.catalogue__btn {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding-top: 16px;
}