.hero {
  background: #d9d9d9;
  padding-top: 60px;
  padding-bottom: 40px;
  @media screen and(min-width:768px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.hero__list {
  @include mobile {
    color: $colorFontPrimary;
    @include fonts($fs: 22px, $lh: 42px);
  }

  @include tablet {
    @include fonts($fs: 26px, $lh: 42px);
    font-size: 26px;
    line-height: 1.62;
  }

  @include desktop {
    font-size: 52px;
    line-height: 1.54;
  }
}

.hero__search {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.8;
}
.img__cocktail {
  width: 100%;
}
